.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--main-backgroung-color);
  background-image: linear-gradient(
      var(--hero-gradient-color),
      var(--hero-gradient-color)
    ),
    url('../images/hero.jpg');
  background-size: cover;

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
  }

  &__btn {
    @extend %main-button;

    padding: 10px 32px;
  }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(var(--hero-gradient-color),
                    var(--hero-gradient-color)),
                url('../images/hero@2x.jpg');
    }
}

@media screen and (max-width: 1199px) {
  .hero {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
    &__title {
      width: 360px;

      font-size: 26px;
      line-height: 1.62;
    }

    &__btn {
      padding: 10px 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
      width: 696px;

      font-size: 44px;
      line-height: 1.36;
    }

    &__btn {
      padding: 10px 32px;
    }
  }
}
