@media screen and (max-width: 767px) {
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--transition-timing-function),
      visibility 250ms var(--transition-timing-function);

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    &__container {
      position: relative;
      display: flex;
      flex-direction: column;

      padding-bottom: 48px;
      padding-top: 48px;
      padding-left: 40px;

      height: 100%;
    }

    &__social-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__social-link {
      font-size: 18px;
      line-height: 1.22;
      color: var(--accent-color);
    }

    &__burger-btn,
    &__close-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }

    &__close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    background-color: var(--white-color);

    & .header__logo,
    & .modal-menu__burger-btn,
    & .contacts__icon {
      display: none;
    }
  }

  .mobile-menu__social-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 9px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
