.team {
  background-color: var(--secondary-background-color);

  &__item {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__wrap {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
  }

  &__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
  }
}

@media screen and (max-width: 767px){
    .team__item{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-basis: calc((100% - 30px) / 2);
    }

    &__item:not(:nth-of-type(2n)) {
      margin-right: 30px;
    }

    &__item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }

    &__img {
      max-width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__list {
      display: flex;
      margin-left: -30px;
    }

    &__item {
      margin-left: 30px;
    }

    &__wrap {
      padding-bottom: 30px;
    }
  }
}
