:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --logo-header-color: #000000;
    --white-color: #ffffff;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ececec;
    --main-backgroung-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --hero-gradient-color: rgba(47, 48, 58, 0.4);
    --icon-background-color: #afb1b8;
    --overflow-background-color: rgba(47, 48, 58, 0.8);
    --portfolio-overflow-background-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);

    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}